body {
    margin: 0;
    background-color: #ecedf2;
    font-family: "Poppins", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

input,
textarea,
select,
button {
    font-family: "Poppins", sans-serif;
}

input[disabled] {
    cursor: not-allowed;
}
